* {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 62.5%;
  /* => 1rem = 10px */
  line-height: 1.3rem;
  font-family: "Baloo Da 2", sans-serif;
  box-sizing: border-box;
  /* overflow-x: auto; */
}

p {
  font-size: 1.1rem;
  /* = 11px */
}
@media (max-width: 46.1875em) {
  p {
    font-size: 1.1rem;
  }
}

.itz-btn-normal, .itz-btn-focus {
  color: #004080;
}

.itz-btn-home {
  background: linear-gradient(to right, #7BCDDF, #6163C8);
}

.itz-btn-hover {
  background: linear-gradient(to right, #4A45F0, #4B27FF, #171432);
}

.itz-btn-active {
  color: #4d79a6;
}

.itz-btn-disable {
  color: #2c2c2c;
}

.itz-link-visited {
  color: #0000FF;
}

.itz-link {
  color: #FF0000;
}

.itz-link-hover {
  color: #FF69B4;
}

.itz-link-active {
  color: #00FFFF;
}

.itz-title {
  font-size: 16px;
}

.itz-sub-title {
  font-size: 13px;
}

.itz-card-color {
  color: #ED5959;
}

.itz-text-card {
  color: #FFEF9B;
}

.itz-navbar {
  width: 300px;
  height: 75px;
  border-radius: 40px;
}

@media (max-width: 46.1875em) {
  .col-sm {
    flex: 1 0 0%;
  }
  .row-cols-sm-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.33333333%;
  }
  .offset-sm-2 {
    margin-left: 16.66666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.33333333%;
  }
  .offset-sm-5 {
    margin-left: 41.66666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.33333333%;
  }
  .offset-sm-8 {
    margin-left: 66.66666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.33333333%;
  }
  .offset-sm-11 {
    margin-left: 91.66666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --bs-gutter-x: 0;
  }
  .g-sm-0,
  .gy-sm-0 {
    --bs-gutter-y: 0;
  }
  .g-sm-1,
  .gx-sm-1 {
    --bs-gutter-x: 0.25rem;
  }
  .g-sm-1,
  .gy-sm-1 {
    --bs-gutter-y: 0.25rem;
  }
  .g-sm-2,
  .gx-sm-2 {
    --bs-gutter-x: 0.5rem;
  }
  .g-sm-2,
  .gy-sm-2 {
    --bs-gutter-y: 0.5rem;
  }
  .g-sm-3,
  .gx-sm-3 {
    --bs-gutter-x: 1rem;
  }
  .g-sm-3,
  .gy-sm-3 {
    --bs-gutter-y: 1rem;
  }
  .g-sm-4,
  .gx-sm-4 {
    --bs-gutter-x: 1.5rem;
  }
  .g-sm-4,
  .gy-sm-4 {
    --bs-gutter-y: 1.5rem;
  }
  .g-sm-5,
  .gx-sm-5 {
    --bs-gutter-x: 3rem;
  }
  .g-sm-5,
  .gy-sm-5 {
    --bs-gutter-y: 3rem;
  }
}
.home-section-1 {
  position: relative;
  height: auto;
}
.home-section-1 .home-section-1__bg {
  height: 330px;
  position: relative;
  border-radius: 92px;
  overflow: hidden;
  margin: 8px;
}
.home-section-1 .home-section-1__bg::before {
  content: "";
  background: url("../img/leader/leader_1.png") no-repeat bottom;
  background-size: cover;
  width: 60%;
  height: 100%;
  position: absolute;
  bottom: -18px;
  right: 0px;
  z-index: 2;
}
.home-section-1 .home-section-1__bg::after {
  content: "";
  background: url("../img/intro/bg-home.png") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.home-section-1 .home-section-1__logo {
  content: "";
  background: url("../img/logo/logo-itzone.png") no-repeat center center;
  background-size: cover;
  width: 55px;
  height: 70px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 3;
}
.home-section-1 .home-section-1__text {
  margin-left: 20px;
  text-align: justify;
  width: 50%;
  height: auto;
  position: absolute;
  transform: translateY(50%);
  bottom: 45%;
  left: 0;
  z-index: 3;
}
.home-section-1 .home-section-1__text .home-section-1__text--title {
  font-weight: bold;
  text-align: left;
  font-size: 16px;
}
.home-section-1 .home-section-1__text .home-section-1__text--sub-title {
  color: #004080;
  font-size: 13px;
}
.home-section-1 .home-section-1__btn {
  position: absolute;
  bottom: 20px;
  margin-left: 20px;
  font-size: 11px;
}

.home-section-2 {
  margin-top: 30px;
  text-align: center;
  height: auto;
}
.home-section-2 .home-section-2__sub-title {
  color: #004080;
}
.home-section-2 .home-section-2__title {
  font-weight: bolder;
  margin-bottom: 30px;
}
.home-section-2 .home-section-2__content--left {
  padding-left: 5px;
}
.home-section-2 .home-section-2__content--left .home-section-2__content--inner {
  padding: 5px;
}
.home-section-2 .home-section-2__content--left .home-section-2__content--inner .home-section-2__content--img {
  border-radius: 5px;
  height: 90%;
}
.home-section-2 .home-section-2__content--right {
  text-align: justify;
  padding: 0 10px 0 5px;
  line-height: 1.1rem;
}

.home-section-3 {
  margin-top: 30px;
  text-align: center;
  height: auto;
}
.home-section-3 .home-section-3__sub-title {
  color: #004080;
}
.home-section-3 .home-section-3__title {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 30px;
}
.home-section-3 .home-section-3__content--left {
  text-align: justify;
  padding: 0 5px 0 10px;
  line-height: 1.1rem;
}
.home-section-3 .home-section-3__content--right {
  padding-right: 5px;
}
.home-section-3 .home-section-3__content--right .home-section-3__content--inner {
  padding: 5px;
}
.home-section-3 .home-section-3__content--right .home-section-3__content--inner .home-section-3__content--img {
  border-radius: 5px;
  height: 80%;
}

.home-section-4 {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 50px;
}
.home-section-4 .home-section-4__title {
  font-weight: bold;
  color: #004080;
}
.home-section-4 .home-section-4__btn {
  font-size: 11px;
}

/*# sourceMappingURL=main.css.map */
