.itz-bg-normal, .itz-bg-focus{
  background-color: $normal-color;
  color: #ffffff;
}

.itz-bg-active{
  background-color: $active-color;
  color: #ffffff;
}

.itz-bg-disable-color{
  background-color: $disable-color;
  color: #ffffff;
}