:root{
}

*{
  box-sizing: inherit;
}

html{
  font-size: 62.5%;
  /* => 1rem = 10px */
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  /* overflow-x: auto; */
}

p{
  font-size: 1.6rem;
  @include respond-to('mobile'){
    font-size: 20px;
    color: red;
  }

  &:hover{
    color: purple;
  }
  /* = 16px */
}

a{
  color: $primary-color;
}