:root{
}

*{
  box-sizing: inherit;
}

body{
  font-size: $font-size;
  /* => 1rem = 10px */
  line-height: 1.3rem;
  font-family: $text-font;
  box-sizing: border-box;
  /* overflow-x: auto; */
}

p{
  font-size: 1.1rem;
  @include respond-to('mobile'){
    font-size: 1.1rem;
  }
  /* = 11px */
}

