.guard{
  margin-top: 30px;
  margin-bottom: $navbar-height + 30px;
  justify-content: center;

  .guard-sub-title{
    width: 90%;
    .guard-sub-title__para{
      color: $normal-color;
      font-weight: bold;
      font-size: $sub-title-size;
      text-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.25);
    }

    .guard-sub-title__line{
      background-color: $component-color;
      height: 1.5px;
    }
  }

  .guard-title__para{
    font-weight: bolder;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .guard-location{
    text-align: center;
    .guard-location__ggmap{
      border-radius: 10px;
      border: 4px solid #ccc !important;
      width: 90%;
    }
  }


  .guard-address{
    margin-top: 10px;
    .guard-address__para, .guard-address__icon{
      color: $link;
      font-size: $sub-title-size;
    }
  }

}


//guard-question
.guard-question{
  margin-top: 30px;
  margin-bottom: $navbar-height + 30px;
  justify-content: center;

  .guard-question-sub-title{
    width: 90%;
    .guard-question-sub-title__para{
      color: $normal-color;
      font-weight: bold;
      font-size: $sub-title-size;
      text-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.25);
    }

    .guard-question-sub-title__line{
      background-color: $component-color;
      height: 1.5px;
    }
  }

  .guard-question-title__para{
    font-weight: bolder;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .guard-question-container{
    text-align: center;
    border-radius: 18px;
    border: 4px solid #004080 !important;
    width: 80%;
    height: 400px !important;
    background-color: #F7F7FD;

    .guard-question-progressbar{
      width: 100%;
      height: 20px;
      margin-top: 30px;
      margin-bottom: 30px;

      .guard-question-progressbar__title{
        font-family: $text-font;
        font-size: $sub-title-size;
        font-weight:bold;
        width: 80px !important;
      }

      .progressbar{
        height: 4px;
        width: 50%;
        background-color: #c6c6c6 !important;
        box-shadow: 1px 3px 6px 0px #c6c6c6;
        align-items: center;
        margin-top: 5px;

        .progressbar__active{
          height: 4px;
          width: 33.33%;
          background-color: #9DB2CE !important;
        }

        .progressbar__number {
          padding-right: 65px;
        }
      }
    }

    .guard-question-table{
      width: 95%;
      height: 200px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0px !important;
      margin-bottom: 30px;
      overflow:auto;

      .guard-question-information{
        height: 50px !important;
        box-shadow: 1px 3px 6px 0px #c6c6c6;
        border-radius: 20px;

        .guard-question-information__box{
          width: 70px;
          height: 50px;
          margin-top: 5px;
          margin-left: 15px;

          .guard-question-information__title{
            font-size: x-small;
            font-weight: bold;
            text-decoration: underline;
          }

          .guard-question-information__status{
            height: 18px;
            border: 1px;
            background-color: #9db2ce;
            border-radius: 50px;
            font-size: smaller;
            text-decoration: none !important;
            justify-content: center;
            align-items: center;
          }
        }

        .guard-question-information__icon{
          width: calc(100% - 70px);
          height: 100%;
          margin-right: 15px;
        }

      }
    }

  }




}