.home-section-1{
  position: relative;
  height: auto;

  .home-section-1__bg{
    height: 330px;
    position: relative;
    border-radius: 92px;
    overflow: hidden;
    margin: 8px;

    &::before {
      $leader-img: '../img/leader/leader_1.png';
      content: "";
      background: url($leader-img) no-repeat bottom;
      background-size: cover;
      width: 60%;
      height: 100%;
      position: absolute;
      bottom: -18px;
      right: 0px;
      z-index: 2;
    }

    &::after{
      $bg-home: '../img/intro/bg-home.png';
      content: "";
      background: url($bg-home) no-repeat center center;
      background-size: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

  }

  .home-section-1__logo{
    $logo-itzone: '../img/logo/logo-itzone.png';
    content: "";
    background: url($logo-itzone) no-repeat center center;
    background-size: cover;
    width: 55px;
    height: 70px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3;
  }

  .home-section-1__text{
    margin-left: 20px;
    text-align: justify;
    width: 50%;
    height: auto;
    position: absolute;
    transform: translateY(50%);
    bottom: 45%;
    left: 0;
    z-index: 3;

    .home-section-1__text--title{
      font-weight: bold;
      text-align: left;
      font-size: $title-size;
    }

    .home-section-1__text--sub-title{
      color: $normal-color;
      font-size: $sub-title-size;
    }
  }

  .home-section-1__btn{
    position: absolute;
    bottom: 20px;
    margin-left: 20px;
    font-size: $text-size;
  }
}

.home-section-2{
  margin-top: 30px;
  text-align: center;
  height: auto;
  .home-section-2__sub-title{
    color: $normal-color;
  }

  .home-section-2__title{
    font-weight: bolder;
    margin-bottom: 30px;
  }

  .home-section-2__content--left{
    padding-left: 5px;
    .home-section-2__content--inner{
      padding: 5px;

      .home-section-2__content--img{
        border-radius: 5px;
        height: 90%;
      }
    }
  }

  .home-section-2__content--right{
    text-align: justify;
    padding: 0 10px 0 5px;
    line-height: 1.1rem;
  }

}

.home-section-3{
  margin-top: 30px;
  text-align: center;
  height: auto;

  .home-section-3__sub-title{
    color: $normal-color;
  }

  .home-section-3__title{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .home-section-3__content--left{
    text-align: justify;
    padding: 0 5px 0 10px;
    line-height: 1.1rem;
  }

  .home-section-3__content--right{
    padding-right: 5px;

    .home-section-3__content--inner{
      padding: 5px;

      .home-section-3__content--img{
        border-radius: 5px;
        height: 80%;
      }
    }
  }

}

.home-section-4{
  margin-top: 30px;
  text-align: center;
  margin-bottom: 50px;
  .home-section-4__title{
    font-weight: bold;
    color: $normal-color;
  }

  .home-section-4__btn{
    font-size: $text-size;
  }
}