.support{
  margin-top: 30px;
  margin-bottom: $bottom-distance;

  .support-header{
    justify-content: center;
    .support-title{
      align-items: center;
      justify-content: center;
      width: 90%;
      .support-title__line{
        height: 1px;
        background-color: $component-color;
      }

      .support-title__para{
        text-align: center;
        font-weight: bold;
        letter-spacing: 3px;
        font-size: $title-size;
        background: $gradient-color-6;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .support-search{
      position: relative;
      margin-top: 20px;

      .support-search__icon{
        top: 50%;
        left: 10px;
        color: #8a8a8e;
        transform: translateY(-50%);
      }

      .support-search__inp--item{
        padding-left: 30px;
        border-radius: 10px;
        background-color: #cccccc;
      }
    }
  }

  .support-content{
    margin-top: 30px;
    justify-content: center;
    .support-content__role{
      width: 90%;
      justify-content: space-evenly;
      --bs-nav-tabs-border-width: none;
      --bs-nav-link-color: #ffffff;
      background-color: $support-color;
      padding: 10px 0 10px 0;
      border-top-left-radius: 0.375rem;
      border-top-right-radius: 0.375rem;

      .nav-link{
        font-weight: bold;
        font-size: $title-size;
      }

      .active {
        background-color: #171432;
        span{
          color: #FF9E44;
          border-bottom: 3px solid #FF9E44;
        }
      }
    }

    .support-content__contact{
      width: 90%;
      height: 300px;
      overflow: scroll;
      border: 4px solid $support-color !important;
      border-bottom-left-radius: 0.375rem;
      border-bottom-right-radius: 0.375rem;

      &::-webkit-scrollbar{
        display: none;
      }
      .support-content__contact--item{

        margin: 20px 25px 20px 25px;
        padding: 10px 15px 10px 15px;
        background-color: #e8eaed;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.25);

        .support-content__contact--para{
          font-size: $text-size;
          background: $normal-color;
          font-weight: bold;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .support-content__contact--phone{
          text-align: right;
          font-size: $text-size;
          color: $normal-color;
          font-weight: bold;
        }
      }
    }
  }
}

.support-question{
  margin-top: 30px;
  margin-bottom: 120px;
  justify-content: center;
  .support-question__header{
    width: 90%;
    justify-content: center;
    align-items: center;
    text-align: center;
    .support-question__line{
      height: 1px;
      background-color: $component-color;
    }

    .support-question__para{
      background: $gradient-color-6;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bold;
      font-size: $title-size;
      letter-spacing: 2px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    }
  }

  .support-question__location{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    //border-radius: 20px;
    //overflow: hidden;
    .support-question__location--scroll{
      width: 90%;
      justify-content: space-around;
      align-items: center;
      padding: 25px 10px 25px 10px;
      border-radius: 20px;
      border: 2px solid $normal-color;
      //border-image: $gradient-color-6 1;

      .support-question__location--item-side{
        background-color: $support-color;
        text-align: center;
        padding: 15px;
        height: 60px;
        border-radius: 50%;
      }

      .support-question__location--item-mid{
        background: $gradient-color-6;
        //display: flex;
        //align-items: center;
        text-align: center;
        padding: 10px;
        border-radius: 50%;
        box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.25);
        height: 100px;

        .support-question__item--para{
          font-size: $sub-title-size;
          width: 80px;
        }
      }

      .support-question__location--icon-left{
        left: -20px;
        --bs-btn-padding-x: none;
        --bs-btn-padding-y: none;
      }

      .support-question__location--icon-right{
        right: -20px;
        --bs-btn-padding-x: none;
        --bs-btn-padding-y: none;
      }
    }

  }

  .support-question__report--outer{
    justify-content: space-evenly;
    .support-question__report{
      margin-top: 30px;
      justify-content: space-evenly;

      .support-question__report--collapse{
        background-color: #cbcbcb;
        padding-top: 10px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        transform: translateY(-20px);

        .support-question__report-team{
          border-radius: 20px;
          background-color: #86de8a;
          text-align: center;
          font-weight: bold;

          span{
            font-size: $sub-title-size;
          }
        }
      }

      .support-question__report--item{
        padding: 10px;
        overflow: hidden;
        z-index: 99;
        position: relative;
        color: #ffffff;
        width: 120px;
        background-color: $support-color;
        border-radius: 20px;
        text-align: center;
        p{
          font-weight: bold;
          font-size: $sub-title-size;
          letter-spacing: 1px;
        }

        span{
          font-size: $sub-title-size;
        }
      }
    }
  }
}

.support-team{
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 120px;
  height: 100%;
  .support-team__header{
    width: 90%;
    justify-content: space-between;
    align-items: center;
    .support-team__line{
      height: 1px;
      background-color: $component-color;
    }

    .support-team__title{
      background-color: #ffffff;
      border-radius: 10px;
      .support-team__dropdown{
        border: 4px solid $gradient-color-3;
        border-radius: 10px;
        position: relative;
        padding: 5px 0 5px 0;
        .support-team__dropdown--para{
          font-size: $sub-title-size;
          font-weight: bold;
        }
        .support-team__dropdown-box{
          border-top: none;
          height: 12px;
          padding: 0 10px 0 10px;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          position: absolute;
          bottom: -14px;
          right: 50%;
          transform: translateX(50%);
          background: $gradient-color-6;
          color: #ffffff;
        }
      }

      .support-team__dropdown-list{
        text-align: center;
        width: 100%;
        position: absolute;
        border: 4px solid $gradient-color-3;
        border-top: 0;
        z-index:-1;
        bottom: 0;
        padding-top: 30px;
        transform: translateY(90%);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        .support-team__dropdown-item{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;

          .support-team__dropdown-span{
            font-size: $sub-title-size;
            font-weight: bold;
            display: block;
            padding: 5px;
            width: 90%;
            border-top: 1px solid $gradient-color-3;

          }
        }
      }

    }
  }

  .support-team-content{
    margin-top: 50px;
    width: 80%;
    .support-team-content__heading{
      background-color: $support-color;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      height: 50px;

      .support-team-content__radius{
        width: 10px;
        height: 10px;
        background-color: red;
        right: 50%;
        top: -5px;
        position: absolute;
        transform: translateX(calc(50% + 25px));
        border-top-right-radius: 50px;
        box-shadow: inset 0 0 0 50px $support-color;
      }

      .support-team-content__radius--left{
        left: 50%;
        border-top-left-radius: 50px;
        border-top-right-radius: 0;
        transform: translateX(calc(50% - 36px));
        box-shadow: inset 0 0 0 50px $support-color;
      }

      .support-team-content__heading-img{
        transform: translateY(-25px);
        border-radius: 50%;
        width: 50px;
        background-color: $support-color;
      }

      .support-team-content__heading-para{
        transform: translateY(-28px);
        font-size: $sub-title-size;
        .support-team-content__heading-text{
          width: auto;
          background-color: #9db2ce;
          border-radius: 20px;
          padding: 0 5px 0 5px;
        }

      }

      .support-team-content__info{
        transform: translateY(-24px);
        border: 3px solid $support-color;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

        .support-team-content__process{
          padding: 10px;
          justify-content: center;
          align-items: center;

          .support-team-content__process-icon{
            color: #cccccc;
            font-size: $sub-title-size;
          }

          .support-team-content__process-line{
            width: 20px;
            height: 2px;
            margin: 0 5px 0 5px;
            background-color: #cccccc;
          }
        }

        .support-team-content__list{
          overflow: scroll;
          padding: 20px 0 20px 0;
          width: 100%;
          height: 250px;

          .support-team-content__item{
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 3px solid #ffd233;
            border-radius: 20px;
            padding: 0 5px 0 5px;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
            margin: 0 15px 0 15px;

            .support-team-content__para{
              font-size: $sub-title-size;
              font-weight: bold;
            }
          }

          .support-team-content__item--member{
            margin-top: 20px;
            border: 3px solid #86de8a;

          }
        }
      }

    }
  }
}