.team{
  margin-top: 30px;
  .team-intro{
    text-align: center;
    margin: auto;
    justify-content: center;

    .team-intro__header{
      text-transform: uppercase;
      font-weight: bold;
    }

    .team-intro__sub-title{
      width: 90%;
      justify-content: center;
      align-items: center;
      .team-intro__line{
        height: 1px;
        background-color: $component-color;
      }

      .team-intro__sub-title--para{
        font-size: $sub-title-size;
        color: $normal-color;
        font-weight: bold;
      }
    }

  }

  .team-content{
    margin-top: 30px;
    margin-bottom: 120px;
    overflow-x: scroll;
    padding: 15px 0 15px 0;

    &::-webkit-scrollbar{
      display: none;
    }

    .team-content__item{
      padding: 10px;
      margin: 0 20px 0 20px;
      border-radius: 50px;
      //background-color: red;
      box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.25);

      .team-content__item--inner{

        .team-content__item--info{

          .team-content__item--header{
            transform: translateY(10px);
            .team-content__item--title{
              color: #000000;
              font-weight: bolder;
            }

            .team-content__item--para{
              color: #cccccc;
              font-size: $sub-title-size;
            }
          }

          .team-content__item--play{
            transform: translateY(25px);
          }
        }
      }
    }
  }
}

.team-game_1{
  margin-bottom: $bottom-distance;
  .team-game_1__box{
    background-color: #f2f2f2;
    margin: 20px;
    padding: 30px 15px 30px 15px;
    border-radius: 20px;
    .team-game_1__header{
      display: flex;
      align-items: center;
      justify-content: start;

      .team-game_1__title{

        .team-game_1__title--para{
          margin-bottom: 0;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }

    .team-game_1__content{

      .team-game_1__content--para{
        font-size: $text-size;
      }

      .team-game_1__content--info{
        margin-top: 5px;
        justify-content: center;
        align-items: center;

        .team-game_1__content--mail{
          font-size: $sub-title-size;
        }

        .team-game_1__content--link{
          margin-left: 10px;
          font-size: $sub-title-size;
          text-decoration: underline;
          color: #000000;
          font-weight: bold;
        }

        .team-game_1__content--para-countdown{
          margin-top: 10px;
          font-size: 25px;
          font-weight: bold;
        }
      }
    }

    .team-game_1__answer{
      margin-top: 20px;
      justify-content: space-between;
      .team-game_1__answer--inp{
        background-color: #f2f2f2;
        border: 1px solid #cccccc;
        color: #000000;
      }

      .team-game_1__btn{

        font-size: $title-size;
      }
    }
  }
}

.team-game_mentor{
  margin-bottom: 120px;
  .team-game_mentor__title{
    background: $gradient-color-6;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }

  .team-game_mentor__content{

    .team-game_mentor__para{
      font-size: $sub-title-size;
      font-weight: bold;
      text-align: justify;
    }

    .team-game_mentor__btn-go{
      margin: auto;
      border-radius: 20px;
      padding: 7px 12px 6px 12px;
      font-size: $sub-title-size;
      border: 3px solid #D7D03A;
    }


  }
}