.toast{
  position: fixed;
  bottom: 120px;
  right: 50%;
  transform: translateX(50%);
  width: 80%;
  height: 45px;
  color: #ffffff;
  font-size: $sub-title-size;

  .toast-icon--inner{
    font-size: $title-size;
  }
}